/* @import '~mdb-ui-kit/css/mdb.min.css'; */ 
/* Why is this an import? 
 * we should be sending static info instead */

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
	animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
	transform: rotate(0deg);
	}
	to {
	transform: rotate(360deg);
	}
}

.list {
	text-align: left;
	max-width: 90%;
	margin: auto;
}

.submit-form {
	max-width: 300px;
	margin: auto;
}

.edit-form {
	max-width: 300px;
	margin: auto;
}

.navbar{
	background-image: linear-gradient(90deg, #488aab, #614385);
}

.navTextColor{
	color: white;
}

.navbar .breadcrumb .breadcrumb-item a{
	color: white;
	font-size: large;
	transition: all .5s ease;
}

.navbar .breadcrumb .breadcrumb-item a:hover{
	font-size: larger;
	text-decoration: underline;
	transition: all .5s ease;
}

.logoSize{
	width: 50%;
	height: 20%;
}

.logoSize:hover{
	transform: scale(1.1);
	filter: invert();
	transition: all .6s ease;
}

.compBtn:hover{
	transform: scale(1.05);
	background-color: #488aab57;
	transition: all .5s ease;
}

input[type="search"] {
	background: transparent;
	margin: 0;
	padding: 7px 8px;
	font-size: 14px;
	color: inherit;
	
	/*TO-DO: implement font-awesome icon here */
}

input[type="search"]::placeholder {
	color: #bbb;
}


.list-group-item:hover{
	transform: scale(1.025);
	background-color: #488aab57;
	border-color: #488aab57;
	transition: all .5s ease;
}

@keyframes checkmark {
	from {
		transform: scale(.05);
		transform: rotate(0deg);
	}
	to {
		transform: scale(1);
		transform: rotate(360deg);
	}
}

.checkAni{
	filter: invert(50%) sepia(77%) saturate(1828%) hue-rotate(107deg) brightness(90%) contrast(101%);
	width: 20%;
	height: 20%;
	animation-name: checkmark;
	animation-duration: 1s;
	margin: auto;
}
